/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media (max-width:1435px) {
	.sadziebo {
		display: none;
	}
	
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		
	}
	.nav-ul {
		margin-top: 15px ;
		font-size: 20px;
	}
	.nav-h2 {
		font-size: 55px;
	}
	.dzebna2 {
		display: block;
	}
}
@media (max-width: 1420px) {
	.image {
	max-width: 170px;
	 width: 100%;
	 height: 250px;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	}
	.block {
		top: 40%;
		left: 40%;
		-webkit-transform: translate(-40%, -40%);
		    -ms-transform: translate(-40%, -40%);
		        transform: translate(-40%, -40%);
	}
	.undermovie {
		margin-right: 25px;
	}
}
@media (max-width:1250px) {
	.undermovie {
		text-align: center;
	}
	.movie{
		width: 90%;
	}
}
@media (max-width:1230px) {
	
	.box {
		width: 230px;
	}
	.box-p {
		max-width: 170px;
	}
	.buy:hover {
		width: 50%;
	}
	.upcoming {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 700px;
		margin: auto;
		margin-top: 30px;
	}
}

@media (max-width:1065px) {
	.movie-list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 600px;
		margin: auto;
		margin-top: 40px;
	}
	.gaqroba {
		display: block;
	}
	.premiumm {
		width: 600px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		
	}
	.box {
		margin-bottom: 20px;
	}
	.prem{
		margin-top: 10px;
	}
	.sec-1-movies {
		width: 600px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		
	}
	.most-sec2 {
		width: 600px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.satauri {
		margin-top: 50px;
	}
	
}
.toggle-menu {
    position:fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.line {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); 
    -webkit-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear; 
    transition: all 0.3s linear; 
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

.active .line1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.active .line2 {
    display: none;
}
.active .line3 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width:1000px) {
	.serialebi {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 600px;
		margin: auto;
		margin-top: 30px;
	}
	.image {
		width: 300px;
	}
	.weli {
		margin-top: 2px;
	}
	.topseries-sec2 {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 600px;
		margin: auto;
		margin-top: 30px;
	}
	.icon {
		display: none;
	}
	
}
@media (max-width:810px) {
	.nav-list {
		display: none;
	}
	.nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.toggle-menu {
		display: block;
	}
	.nav-list.toggle {
		position: fixed;
		top: 9.5%;
		left: 0;
		background-color: #202020;
		width: 100%;
		height: 40%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		z-index: 100;
		
	}
	.nav-words {
		font-size: 24px;
		line-height: 45px;
		margin: auto;
	}
	.nav-words:hover::before {
		display: none;
	}
	.nav-words:hover {
		color: red;
	}
	.sign {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.sign:hover {
		color: white;
	}
}
@media (max-width:720px) {
	.upcoming {
		width: 500px;
	}
}
@media (max-width:620px) {
	.sec-1-movies {
		width: 500px;
	}
	.movies-chamonatvali {
		width: 400px;
	}
	.movie-list {
		width: 500px;
	}
	.movie-link {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.xmovie {
		margin: auto;
		text-align: center;
	}
	.serialebi {
		width: 500px;
	}
	.topseries-sec2 {
		width: 500px;
	}
	.most-sec2 {
		width: 500px;
	}
	.dzebna2 {
		width: 300px;
	}
	.premiumm {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		
	}
	.box {
		margin: auto;
		margin-top:30px ;
		width: 100%;
	}
}

@media (max-width:520px) {
	.sec-1-movies {
		width: 400px;
	}
	.most-sec2 {
		width: 400px;
	}
	.topseries-sec2 {
		width: 400px;
	}
	.serialebi {
		width: 400px;
	}
	.upcoming {
		width: 400px;
	}
	.chamonatvali {
		width: 400px;
		margin: auto;
	}
	.movies-chamonatvali {
		width: 300px;
	}
	.movie-list {
		width: 400px;
	}
	
}
@media (max-width:420px) {
	.sec-1-movies {
		width: 100%;
	}
	.nav-list.toggle  {
		top: 10%;
	}
	.most-sec2 {
		width: 300px;
	}
	.topseries-sec2 {
		width: 300px;
	}
	.serialebi {
		width: 300px;
	}
	.upcoming {
		width: 300px;
	}
	.chamonatvali {
		width: 300px;
		margin: auto;
	}
	.movies-chamonatvali {
		width: 300px;
	}
	.movie-list {
		width: 300px;
	}
	.movie {
		margin: auto;
	}
	.sec-1-satauri {
		margin-left: 0px;
	}
	.chamonatvali {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 200px;
	}
	.image {
		margin: auto;
        max-width: 100%;
	}
	
	.links {
		margin-left: 30px;
	}
	.link2 {
		margin-bottom: 5%;
	}
	
	.movie {
		margin: 0 auto;
	}
	.undermovie {
		margin: auto;
		margin-top: 10px;
	}
	.block {
		top:40%;
		left: 45%;
		-webkit-transform: translate(-40%, -40%);
		    -ms-transform: translate(-40%, -40%);
		        transform: translate(-40%, -40%);
	}
}