
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/




@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');
/* NAVIGACIIS DASAWYISI */
body {
	background-color: #1A1A1A;
	width: 100%;
	font-family: 'Oswald', sans-serif; 
	color: white;
}
.slick {
	width: 100%;
	padding: 30px;	
}

.slider_item {	
	-webkit-transition: all 0.3s;	
	-o-transition: all 0.3s;	
	transition: all 0.3s;
}
.slider_item:hover {
	-webkit-transform: translateY(-2%);
	    -ms-transform: translateY(-2%);
	        transform: translateY(-2%);
	opacity: 70%;
}

.nav-h2 {
	font-size: 50px;
	color: white;
	cursor: pointer;
}
.x {
	color: red;
}
.dzebna {
	width: 500px;
}
.sadziebo {
	max-width: 400px;
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	border-bottom:2px solid rgb(255, 255, 255)  ;
	text-transform: capitalize;
	color: white;
	background-color: #202020;
}
.nav-li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav{
	background:  #202020;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
     padding: 20px;
    -webkit-box-pack: justify;  
        -ms-flex-pack: justify;  
            justify-content: space-between;
			position: fixed;
			width: 100%;
			z-index: 89;
			-webkit-box-shadow: 0px 0px 10px red;
			        box-shadow: 0px 0px 10px red;
	
}
.nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-words {
    color: white;
	margin-left: 50px;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	line-height: 30px;
		font-size: 20px;
}
.nav-words::before {
    content: ' ';
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: red;
    margin-top: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.nav-words:hover::before{
    width: 100%;
    color: #ac0000;
}
.sign{
	width: 100px;
	height: 40px;
	background-color: red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	font-size: 17px;
}
.redline {
	width: 100%;
	background-color: red;
	height: 1px;
	
}
/* NAVIGACIIS DASASRULI */
/* SADZIEBO */

/* SEC-1 DASAWYISI */
.satauri {
	margin-top: 150px;
	font-size: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.underline {
	width: 100%;
	height: 3px;
	background-color: red;
	margin-top: 10px;
}
.sec-1-satauri {
	max-width: 200px;
	width: 100%;
	margin: auto;
}
.pirveli {
	margin-top: 150px;
}
/* Popular MOVIES */


.movie {
    position: relative;
	max-width: 200px;
    width: 100%;
    height: 300px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
	border-radius: 5%;
  }
  .block {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
	cursor: pointer;
  }
  .movie:hover .image {
    opacity: 50%;
  }
  .movie:hover .block{
    opacity: 1;
  }
  .text {
    background-color:red;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
  }
  .sec-1-movies {
	  max-width: 1400px;
	  width: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  margin: auto;
	  margin-top: 50px;
  }
  .undermovie {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: space-evenly;
	  margin-top: 15px;
	  cursor: pointer;
	  font-weight: 600;
	 
  }
  .geo {
	  width: 50px;
	  height: 30px;
	  border: 2px solid white;
	  
	  display: flex;
	  justify-content: center;
	  align-items: center;
	 margin: auto;
	 margin-top:15%;
  }
 .axali {
	margin-top: 20px;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
	 cursor: pointer;
 }
 .axali:hover {
	 opacity: 70%; 
	 -webkit-transform: translateY(-2%); 
	     -ms-transform: translateY(-2%); 
	         transform: translateY(-2%);
	 
 }
 .sec-satauri {
	 font-size: 42px;
	 max-width: 200px;
	 width: 100%;
 }
 .axali {
	 max-width: 250px;
	 width: 100%;
	 height: 400px;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
	 border-radius: 5%;
 }

 .axalifilmebi {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	     -ms-flex-pack: justify;
	         justify-content: space-between;
	 margin-top: 40px;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
 }
 .red {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 max-width: 700px;
	 width: 100%;
	 height: 400px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	 opacity: 60%;
	 cursor: pointer;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
 }
 .red:hover {
	 opacity: 100%;
 }
 .rednotice {
	position: relative;
 }

 .movie-satauri {
	 text-align: center;	 
 }
 .sataurebi {
	 margin-top: 5px;
	 font-weight: 600;
	 text-align: center;
	 width: 100%;
 }
.suratebi {
	max-width: 200px;
	width: 100%;
	height: 300px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 5%;
}
.series {
	margin-top: 80px;	
}
.serialebi {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
}
.tv {
	font-size: 35px;
}
.surati {
	max-width: 200px;
	width: 100%;
	height: 300px;
	border-radius: 5%;
}


  .lorem {
	  max-width: 300px;
	  width: 100%;
	  
  }
  .upcoming-movie {
	  width: 200px;
	  height: 300px;
  }
 
  .contact-footer {
    width: 100%;
	margin-top: 150px;
    background-color: rgb(0, 0, 0);
	-webkit-box-shadow: 0px 0px 10px red;
	        box-shadow: 0px 0px 10px red;
}
.movie-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.xmovie{
    max-width: 260px;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
	 padding-top: 50px;
	 margin-bottom:20px ;
}
.filmi {
	margin-bottom: 10px;
}


.chamonatvali {
    max-width: 575px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
			
}
.links {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    cursor: pointer;	
}
.fab {
	color: white;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.fa-tiktok:hover {
	color: rgb(245, 114, 135);
}
.fa-instagram:hover{
	color: #d6249f;
}
.fa-facebook-f:hover {
	color: 	#4267B2;
}
.link {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 70px;
    color: red;
}
.blog {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.info {
    color: white;
    margin-bottom: 20px;
}

.blog:hover {
	color: red;
	-webkit-transform: translateX(5%);
	    -ms-transform: translateX(5%);
	        transform: translateX(5%);
}
.fa-instagram {
	margin-left: 10px;
	margin-right: 10px;
}

.upcoming {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.topseries-sec2 {
	margin-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.most-sec2 {
	max-width: 1400px;
	  width: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  margin: auto;
	  margin-top: 50px;
}
.pianist {
	height: 300px;
}
.text2 {
	margin-top: 100px;
	padding: 10px 10px;
	background-color: yellow;
	color: black;
	font-weight: 900;
}
.weli {
	color: rgb(151, 151, 151);
}
.trailer {
	color: #FFFFFF;
	font-weight: 900;
}
.axlired {
	display: none;
	width: 290px;
	height: 300px;

}




.slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  }
  .slider .slider_item {
	width: 500px;
	height: 300px;
	margin:30px;
	position: relative;
  }
  .slider-text {
	  position: absolute;
	  top: 80%;
	  left: 3%;
  }
  .slider .slider_item img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
	   -webkit-transition: all 0.2s;
	   -o-transition: all 0.2s;
	   transition: all 0.2s;
  }
  
 

.title {
	font-weight: 700;
	color:white;
	padding: 5px;
	background-color: red;
	text-align: center;
	cursor: pointer;
} 
  .about {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  margin-bottom: 5px;
	  font-weight: 600;
  }
  .age {
	  margin-left: 7px;
	  margin-right: 7px;
  }
  
  .premiumm {
	  max-width: 1400px;
	  width: 100%;
	  margin: auto;
	  margin-top: 100px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
  }
  .box:hover {
	  -webkit-transform: translateY(-10%);
	      -ms-transform: translateY(-10%);
	          transform: translateY(-10%);
	  -webkit-box-shadow: 0px 0px 18px red ;
	          box-shadow: 0px 0px 18px red ;

  }
  .box {
	  max-width: 300px;
	  width: 100%;
	  height: 350px;
	  background-color: #202020;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	  
  }
  .box-title {
	  font-size: 30px;
	  color: red;
	  margin-top: 20px;

  }
  .box-p {
	  text-align: center;
	  max-width: 200px;
	  width: 100%;
	  margin-top: 70px;
	  margin-bottom: 50px;
	  font-size: 20px;
  }
  .buy {
	  
	  width: 100px;
	  height: 50px;
	  background-color: red;
	  cursor: pointer;
	  margin-top: 20px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
  }
.buy:hover {
	width: 40%;
	
  }
.price {
	  font-size: 18px;
  }

.bolo {
	  margin: auto;
  }
.prem {
	  margin-top: 150px;
  }   
 
.all-movies {
	width: 100%;
	margin: 0 auto;
}
.movies-chamonatvali {
	max-width: 600px;
	width: 100%;
	height: 50px;
	margin-top: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
			margin-left: 2px;
}
.h2-chamonatvali {
	font-size: 16px;
	max-width: 100px;
	width: 100%;
	height: 40px;
	background-color: #202020;
	color: rgb(255, 255, 255);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	outline: none;
	border: #202020;
	-webkit-box-shadow: 0px 0px 3px rgb(255, 255, 255);
	        box-shadow: 0px 0px 3px rgb(255, 255, 255) 
}
.movie-list {
	width: 100%;
	
	margin-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}

.loadmore {
	margin: 0 auto;
	max-width: 120px;
	width: 100%;
	height: 50px;
	background-color: red;
	cursor: pointer;
	margin-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 20px;
}
.dzebna2 {
	max-width: 500px;
	width: 100%;
	height: 2px;
	background-color: white;
	margin:  0 auto;
	margin-top: 200px;
	display: none;
}
.sadziebo2 {
	max-width: 500px;
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	border-bottom:2px solid rgb(255, 255, 255)  ;
	text-transform: capitalize;
	color: white;
	background-color:  #1A1A1A;
	
}
.loadmore {
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.loadmore:hover {
	background-color: #1A1A1A;
	border: 1px solid red;
}

