
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/




@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');
/* NAVIGACIIS DASAWYISI */
body {
	background-color: #1A1A1A;
	width: 100%;
	font-family: 'Oswald', sans-serif; 
	color: white;
}
.slick {
	width: 100%;
	padding: 30px;	
}

.slider_item {	
	-webkit-transition: all 0.3s;	
	-o-transition: all 0.3s;	
	transition: all 0.3s;
}
.slider_item:hover {
	-webkit-transform: translateY(-2%);
	    -ms-transform: translateY(-2%);
	        transform: translateY(-2%);
	opacity: 70%;
}

.nav-h2 {
	font-size: 50px;
	color: white;
	cursor: pointer;
}
.x {
	color: red;
}
.dzebna {
	width: 500px;
}
.sadziebo {
	max-width: 400px;
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	border-bottom:2px solid rgb(255, 255, 255)  ;
	text-transform: capitalize;
	color: white;
	background-color: #202020;
}
.nav-li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav{
	background:  #202020;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
     padding: 20px;
    -webkit-box-pack: justify;  
        -ms-flex-pack: justify;  
            justify-content: space-between;
			position: fixed;
			width: 100%;
			z-index: 89;
			-webkit-box-shadow: 0px 0px 10px red;
			        box-shadow: 0px 0px 10px red;
	
}
.nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-words {
    color: white;
	margin-left: 50px;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	line-height: 30px;
		font-size: 20px;
}
.nav-words::before {
    content: ' ';
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: red;
    margin-top: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.nav-words:hover::before{
    width: 100%;
    color: #ac0000;
}
.sign{
	width: 100px;
	height: 40px;
	background-color: red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	font-size: 17px;
}
.redline {
	width: 100%;
	background-color: red;
	height: 1px;
	
}
/* NAVIGACIIS DASASRULI */
/* SADZIEBO */

/* SEC-1 DASAWYISI */
.satauri {
	margin-top: 150px;
	font-size: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.underline {
	width: 100%;
	height: 3px;
	background-color: red;
	margin-top: 10px;
}
.sec-1-satauri {
	max-width: 200px;
	width: 100%;
	margin: auto;
}
.pirveli {
	margin-top: 150px;
}
/* Popular MOVIES */


.movie {
    position: relative;
	max-width: 200px;
    width: 100%;
    height: 300px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
	border-radius: 5%;
  }
  .block {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
	cursor: pointer;
  }
  .movie:hover .image {
    opacity: 50%;
  }
  .movie:hover .block{
    opacity: 1;
  }
  .text {
    background-color:red;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
  }
  .sec-1-movies {
	  max-width: 1400px;
	  width: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  margin: auto;
	  margin-top: 50px;
  }
  .undermovie {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  margin-top: 15px;
	  cursor: pointer;
	  font-weight: 600;
  }
 .axali {
	margin-top: 20px;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
	 cursor: pointer;
 }
 .axali:hover {
	 opacity: 70%; 
	 -webkit-transform: translateY(-2%); 
	     -ms-transform: translateY(-2%); 
	         transform: translateY(-2%);
	 
 }
 .sec-satauri {
	 font-size: 42px;
	 max-width: 200px;
	 width: 100%;
 }
 .axali {
	 max-width: 250px;
	 width: 100%;
	 height: 400px;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
	 border-radius: 5%;
 }

 .axalifilmebi {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	     -ms-flex-pack: justify;
	         justify-content: space-between;
	 margin-top: 40px;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
 }
 .red {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 max-width: 700px;
	 width: 100%;
	 height: 400px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	 opacity: 60%;
	 cursor: pointer;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
 }
 .red:hover {
	 opacity: 100%;
 }
 .rednotice {
	position: relative;
 }

 .movie-satauri {
	 text-align: center;	 
 }
 .sataurebi {
	 margin-top: 5px;
	 font-weight: 600;
	 text-align: center;
	 width: 100%;
 }
.suratebi {
	max-width: 200px;
	width: 100%;
	height: 300px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 5%;
}
.series {
	margin-top: 80px;	
}
.serialebi {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
}
.tv {
	font-size: 35px;
}
.surati {
	max-width: 200px;
	width: 100%;
	height: 300px;
	border-radius: 5%;
}


  .lorem {
	  max-width: 300px;
	  width: 100%;
	  
  }
  .upcoming-movie {
	  width: 200px;
	  height: 300px;
  }
 
  .contact-footer {
    width: 100%;
	margin-top: 150px;
    background-color: rgb(0, 0, 0);
	-webkit-box-shadow: 0px 0px 10px red;
	        box-shadow: 0px 0px 10px red;
}
.movie-link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.xmovie{
    max-width: 260px;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
	 padding-top: 50px;
	 margin-bottom:20px ;
}
.filmi {
	margin-bottom: 10px;
}


.chamonatvali {
    max-width: 575px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
			
}
.links {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    cursor: pointer;	
}
.fab {
	color: white;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.fa-tiktok:hover {
	color: rgb(245, 114, 135);
}
.fa-instagram:hover{
	color: #d6249f;
}
.fa-facebook-f:hover {
	color: 	#4267B2;
}
.link {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 70px;
    color: red;
}
.blog {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.info {
    color: white;
    margin-bottom: 20px;
}

.blog:hover {
	color: red;
	-webkit-transform: translateX(5%);
	    -ms-transform: translateX(5%);
	        transform: translateX(5%);
}
.fa-instagram {
	margin-left: 10px;
	margin-right: 10px;
}

.upcoming {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.topseries-sec2 {
	margin-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.most-sec2 {
	max-width: 1400px;
	  width: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  margin: auto;
	  margin-top: 50px;
}
.pianist {
	height: 300px;
}
.text2 {
	margin-top: 100px;
	padding: 10px 10px;
	background-color: yellow;
	color: black;
	font-weight: 900;
}
.weli {
	color: rgb(151, 151, 151);
}
.trailer {
	color: #FFFFFF;
	font-weight: 900;
}
.axlired {
	display: none;
	width: 290px;
	height: 300px;

}
@media (max-width: 1700px) {
	.axali {
		max-width: 290px;
	 width: 100%;
	 height: 300px;
	}
	.red {
		max-width: 500px;
		width: 100%;
		height: 300px;
	}
  }
  @media (max-width: 1350px) {
	.axali {
		max-width: 230px;
	 width: 100%;
	 height: 270px;
	}
	.red {
		max-width: 400px;
		width: 100%;
		height: 270px;
	}
  }
  @media (max-width: 1420px) {
	.image {
	max-width: 170px;
	 width: 100%;
	 height: 250px;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	}
	.block {
		top: 40%;
		left: 40%;
		-webkit-transform: translate(-40%, -40%);
		    -ms-transform: translate(-40%, -40%);
		        transform: translate(-40%, -40%);
	}
	.undermovie {
		margin-right: 25px;
	}
}
@media (max-width:1000px) {
	.serialebi {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 600px;
		margin: auto;
		margin-top: 30px;
	}
	.image {
		width: 300px;
	}
	.weli {
		margin-top: 2px;
	}
	.topseries-sec2 {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 600px;
		margin: auto;
		margin-top: 30px;
	}
	.icon {
		display: none;
	}
	
}

.slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  }
  .slider .slider_item {
	width: 500px;
	height: 300px;
	margin:30px;
	position: relative;
  }
  .slider-text {
	  position: absolute;
	  top: 80%;
	  left: 3%;
  }
  .slider .slider_item img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
	   -webkit-transition: all 0.2s;
	   -o-transition: all 0.2s;
	   transition: all 0.2s;
  }
  
 

.title {
	font-weight: 700;
	color:white;
	padding: 5px;
	background-color: red;
	text-align: center;
	cursor: pointer;
} 
  .about {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  margin-bottom: 5px;
	  font-weight: 600;
  }
  .age {
	  margin-left: 7px;
	  margin-right: 7px;
  }
  
  .premiumm {
	  max-width: 1400px;
	  width: 100%;
	  margin: auto;
	  margin-top: 100px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
  }
  .box:hover {
	  -webkit-transform: translateY(-10%);
	      -ms-transform: translateY(-10%);
	          transform: translateY(-10%);
	  -webkit-box-shadow: 0px 0px 18px red ;
	          box-shadow: 0px 0px 18px red ;

  }
  .box {
	  max-width: 300px;
	  width: 100%;
	  height: 350px;
	  background-color: #202020;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
	  
  }
  .box-title {
	  font-size: 30px;
	  color: red;
	  margin-top: 20px;

  }
  .box-p {
	  text-align: center;
	  max-width: 200px;
	  width: 100%;
	  margin-top: 70px;
	  margin-bottom: 50px;
	  font-size: 20px;
  }
  .buy {
	  
	  width: 100px;
	  height: 50px;
	  background-color: red;
	  cursor: pointer;
	  margin-top: 20px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  transition: all 0.3s;
  }
  .buy:hover {
	width: 40%;
	
  }
  .price {
	  font-size: 18px;
  }

  .bolo {
	  margin: auto;
  }
  .prem {
	  margin-top: 150px;
  }
@media (max-width:1230px) {
	
	.box {
		max-width: 230px;
	}
	.box-p {
		max-width: 170px;
	}
	.buy:hover {
		width: 50%;
	}
	.upcoming {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 700px;
		margin: auto;
		margin-top: 30px;
	}
}
.filmebi
.all-movies {
	width: 90%;
	margin: 0 auto;
	height: 800px;
	
}
.movies-chamonatvali {
	max-width: 600px;
	width: 100%;
	height: 50px;
	margin-top: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
			margin-left: 2px;
}
.h2-chamonatvali {
	font-size: 16px;
	max-width: 100px;
	width: 100%;
	height: 40px;
	background-color: #202020;
	color: rgb(255, 255, 255);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	outline: none;
	border: #202020;
	-webkit-box-shadow: 0px 0px 3px rgb(255, 255, 255);
	        box-shadow: 0px 0px 3px rgb(255, 255, 255) 
}
.movie-list {
	width: 100%;
	
	margin-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}
.filmebi {
	width: 100%;
	height: auto;
	
}
.loadmore {
	margin: 0 auto;
	max-width: 120px;
	width: 100%;
	height: 50px;
	background-color: red;
	cursor: pointer;
	margin-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 20px;
}
.dzebna2 {
	max-width: 500px;
	width: 100%;
	height: 2px;
	background-color: white;
	margin:  0 auto;
	margin-top: 200px;
	display: none;
}
.sadziebo2 {
	max-width: 500px;
	width: 100%;
	height: 40px;
	outline: none;
	border: none;
	border-bottom:2px solid rgb(255, 255, 255)  ;
	text-transform: capitalize;
	color: white;
	background-color:  #1A1A1A;
	
}
.loadmore {
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.loadmore:hover {
	background-color: #1A1A1A;
	border: 1px solid red;
}


@media (max-width:1435px) {
	.sadziebo {
		display: none;
	}
	.sign {
		display: none;
	}
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		
	}
	.nav-ul {
		margin-top: 15px ;
		font-size: 20px;
	}
	.nav-h2 {
		font-size: 55px;
	}
	.dzebna2 {
		display: block;
	}
}
@media (max-width:1250px) {
	.undermovie {
		text-align: center;
	}
	.movie{
		width: 90%;
	}
}
@media (max-width:1170px) {
	.gaqroba {
		display: none;
	}
	.movie {
		width: 100%;
	}
	
}
@media (max-width:1065px) {
	.movie-list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 600px;
		margin: auto;
		margin-top: 40px;
	}
	.gaqroba {
		display: block;
	}
	.premiumm {
		width: 550px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		
	}
	.box {
		margin-bottom: 20px;
	}
	.prem{
		margin-top: 10px;
	}
	.sec-1-movies {
		width: 600px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		
	}
	.most-sec2 {
		width: 600px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.satauri {
		margin-top: 50px;
	}
	
}
.toggle-menu {
    position:fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.line {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); 
    -webkit-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear; 
    transition: all 0.3s linear; 
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

.active .line1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
.active .line2 {
    display: none;
}
.active .line3 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width:718px) {
	.upcoming {
		width: 500px;
	}
	.nav-list {
		display: none;
	}
	.nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.toggle-menu {
		display: block;
	}
	.nav-list.toggle {
		position: fixed;
		top: 9.5%;
		left: 0;
		background-color: #202020;
		width: 100%;
		height: 30%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		z-index: 100;
		
	}
	.nav-words {
		font-size: 24px;
		line-height: 45px;
		margin: auto;
	}
	.nav-words:hover::before {
		display: none;
	}
	.nav-words:hover {
		color: red;
	}
}
@media (max-width:620px) {
	.sec-1-movies {
		width: 500px;
	}
	.movies-chamonatvali {
		width: 400px;
	}
	.movie-list {
		width: 500px;
	}
	.movie-link {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.xmovie {
		margin: auto;
		text-align: center;
	}
	.serialebi {
		width: 500px;
	}
	.topseries-sec2 {
		width: 500px;
	}
	.most-sec2 {
		width: 500px;
	}
	.dzebna2 {
		width: 300px;
	}
	.premiumm {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		
	}
	.box {
		margin: auto;
		margin-top:30px ;
		width: 100%;
	}
}

@media (max-width:520px) {
	.sec-1-movies {
		width: 400px;
	}
	.most-sec2 {
		width: 400px;
	}
	.topseries-sec2 {
		width: 400px;
	}
	.serialebi {
		width: 400px;
	}
	.upcoming {
		width: 400px;
	}
	.chamonatvali {
		width: 400px;
		margin: auto;
	}
	.movies-chamonatvali {
		width: 300px;
	}
	.movie-list {
		width: 400px;
	}
	
}
@media (max-width:420px) {
	.sec-1-movies {
		width: 300px;
	}
	.most-sec2 {
		width: 300px;
	}
	.topseries-sec2 {
		width: 300px;
	}
	.serialebi {
		width: 300px;
	}
	.upcoming {
		width: 300px;
	}
	.chamonatvali {
		width: 300px;
		margin: auto;
	}
	.movies-chamonatvali {
		width: 300px;
	}
	.movie-list {
		width: 300px;
	}
	.movie {
		margin: auto;
	}
	.sec-1-satauri {
		margin-left: 0px;
	}
	.chamonatvali {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 200px;
	}
	.image {
		margin: auto;
	}
	
	.links {
		margin-left: 30px;
	}
	.link2 {
		margin-bottom: 5%;
	}
	.loadmore {
		margin-left: 30%;
	}
	.movie {
		margin: 0 auto;
	}
	.undermovie {
		margin: auto;
		margin-top: 10px;
	}
	.block {
		top:40%;
		left: 45%;
		-webkit-transform: translate(-40%, -40%);
		    -ms-transform: translate(-40%, -40%);
		        transform: translate(-40%, -40%);
	}
}
.body2 {
	width: 100%;
	height: 100%;
	background-color: red;
}
.sign-in {
	width: 50%;
	height: 700px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
}
.sign-box {
	width: 500px;
	height: 600px;
	background-color:  #202020;
	border: 1px solid rgb(255, 255, 255);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
}
.mail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 70px;
}
.gmail {
	width: 450px;
	margin-top: 20px;
	height: 40px;
	outline: none;
	background-color: rgb(201, 200, 200);
	border: #202020;
	border-radius: 5px;
}
.label {
	font-size: 14px;
	color: white;
}
.log {
	width: 450px;
	height: 40px;
	background-color: red;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 80px;
	cursor: pointer;
}
.under-login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 50px;
}
.register {
	color: red;
	cursor: pointer;
	font-weight: 400;
}
.check {
	cursor: pointer;
}
.forgot {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 40px;
}
.forgot-pass {
	-webkit-transition: all ;
	-o-transition: all ;
	transition: all ;
	cursor: pointer;
}
.forgot-pass:hover {
	color: red;
}