/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');
body {
    font-family: 'Oswald', sans-serif; 
    width: 100%;
    background-image: url(images/Movies-background.png);
    color: white;
}
.sign-in {
	width: 500px;
	height: 484px;
	background-color:  #202020;
	margin: 0 auto;
	margin-top: 70px;
	-webkit-box-shadow: 0px 0px 18px rgb(255, 255, 255) ;
	        box-shadow: 0px 0px 18px rgb(255, 255, 255) ;
}
.sign-h2-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;	
}
.sign-h2 {
	margin-top: 30px;
	font-size: 50px;
}
.x {
	color: red;
}
.mail-pass {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.mail-pass-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.pass-box {
	margin-top: 20px;
}
.mail-box {
	width: 438px;
	height: 40px;
	border-radius: 7px;
	outline: none;
	border:1px #202020;
	padding: 14px;
}
.register {
	color: red;
	cursor: pointer;
	font-weight: 400;
}
.check {
	cursor: pointer;
}
.forgot {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 40px;
}
.forgot-pass {
	-webkit-transition: all ;
	-o-transition: all ;
	transition: all ;
	cursor: pointer;
}
.forgot-pass:hover {
	color: red;
}
#label {
	margin-bottom: 12px;
}
#label2 {
	margin-bottom: 12px;
}
.log {
	width: 438px;
	height: 40px;
	background-color: red;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	margin: auto;
	margin-top: 50px;
}
.under-login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 30px;
}
@media (max-width:500px) {
	.sign-in {
		width: 300px;
	}
	.mail-box {
		width: 270px;
	}
	.log {
		width: 270px;
	}
}